body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Poppins';
    display: flex;
    overflow: hidden;
}

.sideBar,
.facebookIcon,
.twitterIcon,
.instagramIcon,
.iconWrap,
.topWrap,
.leftContents,
.visitStoreButton,
.storeButtonWrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideBar {
    position: relative;
    height: 100%;
    width: 160px;
    background-color: #FF9A2E32;
}

.iconWrap {
    position: relative;
    margin: 0;
    width: 80px;
    height: 270px;

}

.facebookIcon,
.twitterIcon,
.instagramIcon {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 6px solid #fff;
    border-radius: 100px;
    font-size: 23px;
    color: #FF9A2E;
    z-index: 100;

}

.twitterIcon {
    top: -5px;

}


.facebookIcon {
    bottom: 0px;
    font-size: 20px;

}

.fa-facebook-f,
.fa-twitter,
.fa-instagram {
    position: absolute;

}

.topWrap {
    position: relative;
    width: 100%;
    height: 80px;
}

.orange-text {
    color: #FF9A2E;
}

.logo-text {
    position: absolute;
    left: 40px;
    top: 40px;
    font-size: 18px;
    font-weight: 300;

}

.topNavBar {
    position: absolute;
    width: 900px;
    height: 80px;

    background-color: #DFE0DF;
    right: 0;
    top: 0;
    -webkit-clip-path: polygon(2% 0%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(2% 0%, 100% 0, 100% 100%, 0% 100%);
}

.menu {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 34px;
}

li {
    display: inline-block;
    font-size: 25px;
    font-weight: 300;

}

.events {
    margin: 0px 178px;
}

.fa-bullseye {
    margin-right: 14px;
    font-size: 23px;
    color: #FF9A2E48;
}

.leftContents {
    position: absolute;
    width: 860px;
    height: 100%;
    left: 148px;

}

.main-title {
    position: absolute;
    font-weight: 300;
    line-height: 100px;
    font-size: 98px;
    margin: 0;
}

.visitStoreButton {
    position: absolute;
    height: 80px;
    width: 160px;
    background-color: #DFE0DF;
    bottom: 200px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: 100;
    font-size: 20px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0 6.7px 5.3px rgba(0, 0, 0, 0.028),
        0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0 41.8px 33.4px rgba(0, 0, 0, 0.05),
        0 100px 80px rgba(0, 0, 0, 0.07);
}